<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Css/PgListaChave.css">
    <title>Controle de Chaves</title>
</head>

<body>
    <div id="app" class="container">
        <h1>Controle de Chaves</h1>
        <button @click="ButtonRegistrarChave" class="register-button">Registrar Nova Chave</button>
        <div class="search-bar">
            <input v-model="searchQuery" type="text" placeholder="Buscar por chave...">
            <button @click="ButtonPesquisarChave" class="search-button">Pesquisar</button>
        </div>
        <table>
            <tr>
                <th>Chave</th>
                <th>Status</th>
                <th>Empresta</th>
                <th>Recebe</th>
                <th>Ações</th> <!-- Adicionando uma coluna para as ações -->
            </tr>
            <tr v-for="(key, index) in keys" :key="index">
                <td>{{ key.name }}</td>
                <td>{{ key.status }}</td>
                <td><button @click="ButtonEmprestar(key.name)" class="btn-emprestar">Emprestar</button></td>
                <td><button @click="ButtonReceber(key.name)" class="btn-receber">Receber</button></td>
                <td>
                    <!-- Adicionando botões de editar, excluir e campo de edição -->
                    <button @click="ButtonEditar(key)" class="btn-editar">Editar</button>
                    <button @click="ButtonExcluir(key)" class="btn-excluir">Excluir</button>
                </td>
            </tr>
        </table>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                keys: [],
                searchQuery: ""
            },
            mounted() {
                // Chama a função para listar as chaves ao montar o componente
                this.Listar_chave();
            },
            methods: {
                async Listar_chave() {
                    try {
                        const response = await axios.get('http://127.0.0.1:8000/chaves');
                        this.keys = response.data.map(item => {
                            return {
                                name: item[0],
                                status: item[1]
                            };
                        });

                    } catch (error) {
                        console.log(error);
                    }
                },
                async ButtonEmprestar(nome_chave) {
                    console.log('Chave emprestada:', nome_chave);

                },
                async ButtonEditar(chave) {

                    const novoNome = prompt('Digite o novo nome da chave:', chave.name);

                    if (novoNome !== null) {
                        try {
                            const response = await axios.post('http://127.0.0.1:8000/alterar_nome_chave', {
                                antigo_nome: chave.name,
                                novo_nome: novoNome
                            });

                            if (response.data.message) {
                                alert(response.data.message);
                                // Atualiza a lista após a alteração de nome
                                this.Listar_chave();
                            } else {
                                console.error('Erro ao alterar o nome da chave.');
                            }
                        } catch (error) {
                            console.error('Erro durante a solicitação:', error);
                        }
                    }
                },

                async ButtonExcluir(nome_chave) {
                    try {
                        const response = await axios.post('http://127.0.0.1:8000/excluir_chave', {
                            nome_chave: nome_chave
                        });

                        if (response.data.message) {
                            alert(response.data.message);
                            // Atualiza a lista após a exclusão
                            this.Listar_chave();
                        } else {
                            console.error('Erro ao excluir a chave.');
                        }
                    } catch (error) {
                        console.error('Erro durante a solicitação:', error);
                    }
                },
                async ButtonRegistrarChave() {
                    window.location.href = `http://127.0.0.1:8000/cadastro_chave`;
                },
                async ButtonPesquisarChave() {
                    try {
                        const response = await axios.get(`http://127.0.0.1:8000/pesquisar_chave?query=${this.searchQuery}`);
                        console.log('Resposta da pesquisa:', response.data);
                        this.keys = response.data.map(item => {
                            return {
                                name: item[0],
                                status: item[1]
                            };
                        });
                        if(this.keys.length === 0) {
                            alert('Nenhuma chave encontrada.');
                        }
                    } catch (error) {
                        console.error('Erro durante a solicitação:', error);
                        
                    }
                }
            }
        });
    </script>
</body>

</html>